// 颜色方案一
// $theme-color: #48d6d2; //rgb(72, 214, 210); hex: #48d6d2;
// $theme-color-darker: #122c91;
// $theme-color-dark: #2a6fdb;
// $theme-color-light: #81e9e6;
// $theme-color-lighter: #fefcbf;

// 颜色方案二
$theme-color: #637af9; //rgb(86, 106, 255); hex: #536bfb;
$theme-color-dark: #4336fb;
$theme-color-darker: #3407ff;
$theme-color-light: #98d3ff; 
$theme-color-lighter: #b6d3ff;
